body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #215550;
}

h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%); 
    margin: 0;
    color: #cc9c4e;
    font-family: "Playfair Display", serif;
    font-size: 80px;
    font-weight: 500;
    text-shadow: #3a3b33 1px 1px 1px;
}