@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

h2 {
    font-family: "Playfair Display", serif;
    color: #CC9C4E;
    font-weight: 100;
    font-size: 80px;
}

h3 {
    font-family: "Playfair Display", sans-serif;
    color: #DCD3C2;
    font-size: 80px;
}

h4 {
    font-family: "Montserrat", sans-serif;
    color: #CC9C4E;
    font-size: 48px;
}

p {
    font-family: "Raleway", sans-serif;
    line-height: 2em;
}
body {
    background-color: #1A3030;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
}

/* Hero sectie achtergrond*/
.hero-sectie {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}
.hero-sectie-klanten, .hero-sectie-partners {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-sectie-klanten {
    background-image: linear-gradient(rgba(19, 30, 36, 0.8), rgba(19, 30, 36, 0.8)), url('../Images/backgroundImages/hero-section-klant-image.jpeg');
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    width: 68%;
    left: 0;
}
.hero-sectie-klanten > .hero-content {
    align-content: center;
    width: 495px;
    padding: 0px 50px;
}

.timer {
    display: flex;
    justify-content: space-between;
}

.card > span {
    display: inline-block;
    background-color: #DCD3C2;
    border-radius: 10px;
    width: 70px;
    height: 100px;
    text-align: center;
    align-content: center;
}

.timer-text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #CC9C4E;
    text-align: center;
}
.hero-sectie-partners {
    background-image: linear-gradient(rgba(19, 30, 36, 0.8), rgba(19, 30, 36, 0.8)), url('../Images/backgroundImages/partnerPagina.jpg');
    clip-path: polygon(14.5% 0, 100% 0, 100% 100%, 0% 100%);
    width: 50%;
    right: 0;
    margin-left: -10%;
}

.mainContainer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px; /* Maximaliseren breedte van de container */
    padding: 20px;
}

.textOpmaak {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.textOpmaak2 {
    display: flex;
    flex-direction: column;
    padding: 20px; /* Ruimte rondom de tekstinhoud */
}

.heading4Tekst {
    color: #DCD3C2;
    font-size: 2.5rem; /* Flexibele eenheid */
    margin-bottom: 0px;
}

.heading5Tekst {
    color: #CC9C4E;
    font-weight: normal;
    font-size: 2rem; /* Flexibele eenheid */
    margin-top: 0px;
}

.paragraph3Tekst, .paragraph4Tekst {
    font-family: Raleway;
    color: #DCD3C2;
    font-size: 20px;
    font-weight: 400;
    line-height: 39px;
    text-align: left;
    margin-bottom: 20px;
}

.paragraph4Tekst.color-1 {
    color: #CC9C4E; /* Gouden kleur */
}

/* Nieuwe stijl voor andere kleuren */
.paragraph4Tekst.color-2 {
    color: #B3AD98; /* Tweede kleur */
}

.paragraph4Tekst.color-3 {
    color: #3A3B33; /* Derde kleur */
}

.image-right {
    max-width: 45%; /* Maximaliseren breedte van afbeeldingen */
    height: auto;
    margin-top: 20px;
}

.image-left {
    max-width: 30%; /* Maximaliseren breedte van afbeeldingen */
    height: auto;
    margin-top: 20px;
    transform: translate(-50px, 50px); /* Verplaats de afbeelding naar links (-50px) en naar beneden (50px) */
}

.slider-container {
    overflow: hidden;
    width: 100vw;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
    width: calc(100% + 12px); /* Corrigeer de breedte om marges van de afbeeldingen te compenseren */
}

.slider-image {
    width: 300px; /* Pas aan indien nodig */
    height: 400px; /* Pas aan indien nodig */
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0px 7px 4px 0px #00000059;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 6px; /* Ruimte tussen afbeeldingen */
    flex-shrink: 0; /* Zorg ervoor dat de afbeeldingen niet krimpen */
}

.usp-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.usp-item {
    display: inline-flex;
    flex-direction: column; /* Zorgt ervoor dat de afbeelding en tekst verticaal worden gestapeld */
    align-items: center; 
    margin: 0 20px;
    margin-top: 60px; 
}

.hexagon {
    width: 100px; /* Pas de breedte aan */
    height: 60px; /* Pas de hoogte aan */
    /* background-color: #CC9C4E; Gouden kleur */
    /* color: white; */
    align-items: center;
    border: none;
    position: relative;
    cursor: pointer;
    outline: none;
    margin: 0 40px; /* Ruimte tussen afbeeldingen */
    transition: transform 0.2s;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    margin-bottom: 20px;
    margin-left: 80px;
}

.hexagon:hover, .gold-text:hover {
    transform: translateY(-3px); /* Kleine omhoog-beweging bij hover */
}

.gold-text {
    color: #CC9C4E; /* Gouden kleur */
    text-align: right; 
    margin-top: 10px; 
    margin-left: 40px;
    font-family: Raleway; 
    font-size: 20px; 
    font-weight: 400; 
    line-height: 39px; 
}

/* Media Queries */
@media (max-width: 768px) {
    .image-right, .image-left {
        max-width: 90%; /* Volledige breedte op kleinere schermen */
    }

    .heading4Tekst {
        font-size: 2rem; /* Kleinere kop op kleinere schermen */
    }

    .heading5Tekst {
        font-size: 1.5rem; /* Kleinere subtitel op kleinere schermen */
    }

    .hexagon {
        width: 80px; /* Kleinere hexagon knoppen op kleinere schermen */
        height: 48px; /* Kleinere hexagon knoppen op kleinere schermen */
    }
}

/* !!EXTRA ALS SITE AF IS!! */

.mode-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #CC9C4E; /* Gouden kleur voor de knop */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.2s; /* Hover effect */
}

.mode-toggle:hover {
    transform: scale(1.05); /* Vergroot de knop bij hover */
}

/* Light mode styling */
/* .light-mode {
    background-color: #DCD3C2; /* Achtergrondkleur */
    /* color: #3A3B33; /* Kleur voor tekst */
/* }

.light-mode .heading4Tekst {
    color: #1A3030; /* Kleur voor h1 in light mode */
/* } */

/* .light-mode .heading5Tekst {
    color: #CC9C4E; /* Gouden kleur voor h2 in light mode */
/* } */ 

/* .light-mode .paragraph3Tekst {
    color: #1A3030; Kleur voor p in light mode */
/* }  */ 
