body {
  background-color: #1a3030;
  justify-content: center;
}

/*voor desktop*/
@media (min-width: 901px) {
  /*USP table*/
  .usp-div-container * {
    text-align: center;
  }

  .usp-div-container {
    display: flex;
    justify-content: space-around;
    background-color: #dcd3c2;
    border-radius: 20px;
    position: relative;
    bottom: -65px;
    width: 100%;
    max-width: 1000px;
    
  }

  .usp-div {
    width: 100px;
  }

  .usp-div-tekst {
    margin: 0% 5%;
  }

  #partnerpagina-container {
    display: flex;
    flex-direction: column;
  }

  /* Container met de achtergrondafbeelding */
  .background-container {
    padding: 0px 50px;
    background-size: cover;
    /* Zorgt ervoor dat de afbeelding de volledige container bedekt */
    background-position: center;
    /* Centreert de afbeelding */
    display: flex;
    /* Voor flexbox-positionering */
    flex-direction: column;
    align-items: center;
    /* Centreert de inhoud horizontaal */
    background-image: linear-gradient(
        rgba(19, 30, 36, 0.8),
        rgba(19, 30, 36, 0.8)
      ),
      url(https://raw.githubusercontent.com/Fauvedenbrok/220FDD-DO1-Fittingly/refs/heads/main/Images/backgroundImages/contactPagina.jpg);
  }

  .header-paragraph-tekst {
    margin-right: 25%;
  }

  .usp-img {
    width: auto;
    height: 100px;
  }

  .ons-platform-tekst-container {
    width: 80vh;
  }

  /*Grote tekst heading*/
  .ons-platform-heading-tekst1 {
    margin-left: 10%;
    margin-top: 100px;
    padding-left: 30px;
  }

  .ons-platform-heading-tekst2 {
    margin-left: 10%;
    padding-left: 30px;
  }

  .ons-platform-paragraph-tekst2 {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 30px;
  }

  #partnersTekst {
    margin-top: 600px;
    text-align: center;
  }

  #partner-koptekst {
    text-align: center;
    margin-bottom: -40px;
    margin-top: 100px;
  }

  /*Ons platform koptekst*/
  .ons-platform-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .ons-platform-img-container {
    width: auto;
    height: 656px;
  }

  /*Image onder grote titel*/
  #img-couple {
    height: 100%;
    width: auto;
  }

  /* Main Styling */
  .slider {
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
  }

  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .slider::before {
    left: 0;
    top: 0;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-290px * 4));
    }
  }

  /* Slide Track and Slide */
  .slider .slide-track {
    /*De volledige animatie van de slider duurt 40 seconden. Na 40 seconden wordt de slider gereset */
    animation: scroll 30s linear infinite;
    /* Scroll infinitely over 30 seconds */
    /*Zorgt voor een smooth animatie in de slider*/
    animation-timing-function: linear;
    /* Smooth linear animation */
    display: flex;
    /*De breedte van elke img * het aantal images die in de 40 seconden te zien zijn. De exacte breedte is belangrijk zodat de slider niet halverwege een img ge-reset wordt.*/
    width: calc(290px * 4);
  }

  .slider .slide .slideimg {
    width: 250px;
    object-fit: cover;
  }

  .slide {
    margin-left: 20px;
    margin-right: 20px;
  }

  .slideimg {
    border-radius: 10px;
  }

  /*Partner logos op partnerpagina*/
  #logoBassinsin {
    border-radius: 15%;
  }

  #logoCaunhing {
    border-radius: 35%;
  }

  #logoNomadThread {
    border-radius: 50%;
  }

  .afsluiting-tekst-container {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
  }

  .afsluitings-paragraph {
    text-align: center !important;
  }

  /*Aanmeldknop onderaan de partnerpagina*/
  .aanmeldButton {
    font-family: "PlayFair Display", serif;
    background-color: #cc9c4e;
    padding: 5px;
    padding-left: 100px;
    padding-right: 100px;
    border: 3px solid #cc9c4e;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .aanmeldButtonPressed {
    font-family: "PlayFair Display", serif;
    background-color: #b3ad98;
    padding: 5px;
    padding-left: 100px;
    padding-right: 100px;
    border: 3px solid #b3ad98;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: #3a3b33 5px 5px 5px 5px;
    margin-bottom: 20px;
  }
}

/*Voor tablets en mobiele telefoons*/
@media (max-width: 900px) {
  /*USP table*/
  .usp-div-container * {
    flex-direction: column;
    margin: 0;
    text-align: center;
    border-radius: 20px;
  }

  .usp-div-container {
    background-color: #dcd3c2;
    border-radius: 20px;
  }

  h2 {
    font-size: 5vw
  }

  p {
    font-size: 2vw;
  }

  #partnerpagina-container {
    display: flex;
    flex-direction: column;
  }

  /* Container met de achtergrondafbeelding */
  .background-container {
    background-size: cover;
    /* Zorgt ervoor dat de afbeelding de volledige container bedekt */
    background-position: center;
    /* Centreert de afbeelding */
    justify-content: center;
    /* Centreert de inhoud horizontaal */
    background-image: linear-gradient(
        rgba(19, 30, 36, 0.8),
        rgba(19, 30, 36, 0.8)
      ),
      url(https://raw.githubusercontent.com/Fauvedenbrok/220FDD-DO1-Fittingly/refs/heads/main/Images/backgroundImages/contactPagina.jpg);
  }



  .usp-img {
    width: auto;
    height: 65px;
  }

  .ons-platform-tekst-container {
    width: 80vh;
  }

  /*Grote tekst heading*/
  .ons-platform-heading-tekst1 {
    margin: 100px 10% 0% 10%;
    padding-left: 30px;
  }

  .ons-platform-heading-tekst2 {
    margin-left: 10%;
    padding-left: 30px;
  }

  .ons-platform-paragraph-tekst2 {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 30px;
  }

  #partnersTekst {
    margin-top: 600px;
    text-align: center;
  }

  #partner-koptekst {
    text-align: center;
    margin-bottom: -40px;
  }

  /*Ons platform koptekst*/
  .ons-platform-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .ons-platform-img-container {
    width: auto;
    height: 650px;
    margin-bottom: -100px;
  }

  /*Image onder grote titel*/
  #img-couple {
    height: 70%;
    width: auto;
  }

  /* Main Styling */
  .slider {
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
  }

  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .slider::before {
    left: 0;
    top: 0;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-290px * 4));
    }
  }

  /* Slide Track and Slide */
  .slider .slide-track {
    /*De volledige animatie van de slider duurt 40 seconden. Na 40 seconden wordt de slider gereset */
    animation: scroll 30s linear infinite;
    /* Scroll infinitely over 30 seconds */
    /*Zorgt voor een smooth animatie in de slider*/
    animation-timing-function: linear;
    /* Smooth linear animation */
    display: flex;
    /*De breedte van elke img * het aantal images die in de 40 seconden te zien zijn. De exacte breedte is belangrijk zodat de slider niet halverwege een img ge-reset wordt.*/
    width: calc(290px * 4);
  }

  .slider .slide {
    width: 250px;
    object-fit: cover;
  }

  .slide {
    margin-left: 20px;
    margin-right: 20px;
  }

  .slideimg {
    border-radius: 10px;
    object-fit: cover;
    width: 200px;
  }



  /*Partner logos op partnerpagina*/
  #logoBassinsin {
    border-radius: 15%;
  }

  #logoCaunhing {
    border-radius: 35%;
  }

  #logoNomadThread {
    border-radius: 50%;
  }

  .afsluiting-tekst-container {
    text-align: center;
margin: 0% 20%;
  }

  .afsluitings-paragraph {
    text-align: center !important;
  }

  /*Aanmeldknop onderaan de partnerpagina*/
  .aanmeldButton {
    font-family: "PlayFair Display", serif;
    background-color: #cc9c4e;
    padding: 5px;
    padding-left: 100px;
    padding-right: 100px;
    border: 3px solid #cc9c4e;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .aanmeldButtonPressed {
    font-family: "PlayFair Display", serif;
    background-color: #b3ad98;
    padding: 5px;
    padding-left: 100px;
    padding-right: 100px;
    border: 3px solid #b3ad98;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: #3a3b33 5px 5px 5px 5px;
    margin-bottom: 20px;
  }
}


#koptekst {
  margin-top: -10px;
}

#koptekst-container {
  overflow: hidden;
  max-width: 1100px;
  margin: 10% 15%;
}