@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@media screen and (max-width: 768px) {
        header button.hamburger {

                display: block;

        }

        header nav {

                display: none;

                position: absolute;

                width: 100%;

                top: 126px;

                z-index: 999;

                flex-direction: column;

                background-color: #1A3030 !important;

                height: auto;

        }



        header nav button {

                width: 100%;

        }

}

body {
        margin: auto;
}

h2 {
        font-family: "Playfair Display", serif;
        color: #CC9C4E;
        font-weight: 100;
        font-size: 80px;
}

h3 {
        font-family: "Playfair Display", sans-serif;
        color: #DCD3C2;
        font-size: 2.5rem;
        margin-bottom: 0px;
}

h4 {
        font-family: "Montserrat", sans-serif;
        color: #CC9C4E;
        /* font-size: 48px; */
        font-weight: normal;
        font-size: 2rem;
        margin-top: 0px;
}

p {
        font-family: "Raleway", sans-serif;
        color: #DCD3C2;
        font-size: 20px;
        font-weight: 400;
        line-height: 2em;
        text-align: left;

}

.main-container {
        background-color: #1A3030;
        width: 100%;
        display: flex;
        justify-content: center;
}

.header-flexbox {
        position: relative;
        display: flex;
        align-items: center;
        overflow: visible !important;
        height: 126px;
}

.header-logo {
        width: 100px;
}

nav {
        align-items: center;
}

nav>button {
        background-color: #DCD3C2;
        font-family: monserat;
        margin: 5px;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        height: fit-content;
}

.main-title {
        text-align: center;
        position: relative;
        flex: 35%;
        font-family: "PlayFair Display", serif;
        color: #DCD3C2;
        font-weight: 400;
        font-size: 64px;
        margin: 0;
}


footer {
        background-color: #B3AD98;

        width: 100vw;
}

footer>hr {
        width: 90%;

}


button.hamburger {

        background: none;

        box-shadow: none;
        padding: 0;
        border: none;

        width: 50px;

        position: relative;

        height: 50px;

}

nav.visible {

        display: flex;

}

button.hamburger {

        display: none;

}