@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@media screen and (max-width: 1200px) {
  div#about,
  .hero-sectie {
    flex-direction: column;
  }

  header button.hamburger {
    display: block;
  }

  header nav {
    display: none;
    position: absolute;
    width: 100%;
    top: 126px;
    z-index: 999;
    flex-direction: column;
    background-color: #1a3030 !important;
    height: auto;
  }

  header nav button {
    width: 100%;
    margin: 0;
    border-color: #cc9c4e;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
  }

  div.footer-body {
    width: 100%;
  }

  footer button {
    width: 70%;
  }
}

@media screen and (max-width: 850px) {
  .main-container {
    justify-content: space-between;
  }

  div.header-flexbox {
    width: 100%;
  }

  img.header-logo {
    width: 65px;
  }

  h1.main-title {
    font-size: 50px;
  }

  footer {
    height: 400px;
  }
  .main-footer {
    height: auto;
  }

  div.footer-body {
    flex-direction: column;
    height: auto;
    margin-top: 20px;
  }
  div.footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  footer p {
    line-height: normal;
    font-size: 18px;
  }

  hr {
    margin-top: 10px;
  }

  .footer-newsletter {
    width: 100%;
    align-items: center;
  }

  .footer-newsletter input {
    width: auto;
    font-size: 16px !important;
    min-width: 320px;
  }

  footer button {
    width: 40%;
    min-width: 320px;
  }

  div.footer-conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer hr {
    width: 90% !important;
  }

  div.footer-newsletter p {
    font-size: 16px !important;
  }
}

body {
  margin: auto;
}

h2 {
  font-family: "Playfair Display", serif;
  color: #cc9c4e;
  font-weight: 100;
  font-size: 80px;
}

h3 {
  font-family: "Playfair Display", sans-serif;
  color: #dcd3c2;
  font-size: 2.5rem;
  margin-bottom: 0px;
}

h4 {
  font-family: "Montserrat", sans-serif;
  color: #cc9c4e;
  /* font-size: 48px; */
  font-weight: normal;
  font-size: 2rem;
  margin-top: 0px;
}

p {
  font-family: "Raleway", sans-serif;
  color: #dcd3c2;
  font-size: 20px;
  font-weight: 400;
  line-height: 2em;
  text-align: left;
}

.main-container {
  background-color: #1a3030;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav.visible {
  display: flex;
}

.header-flexbox {
  width: 60%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible !important;
  height: 126px;
  justify-content: space-evenly;
}

.header-logo {
  width: 100px;
}

nav {
  align-items: center;
}

nav > button {
  background-color: #dcd3c2;
  font-family: "Montserrat", sans-serif;
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  height: fit-content;
  border-radius: 10px;
  border-color: #b3ad98;
}

nav > button > a {
  color: #1a3030;
  text-decoration: none;
  font-weight: 600;
}

button.hamburger {
  background: none;
  box-shadow: none;
  padding: 0;
  border: none;
  width: 50px;
  position: relative;
  height: 50px;
}

button.hamburger {
  display: none;
}

.main-title {
  text-align: center;
  position: relative;
  font-family: "PlayFair Display", serif;
  color: #dcd3c2;
  font-weight: 400;
  font-size: 64px;
  margin: 0;
}

footer {
  background-color: #b3ad98;
  height: auto;
 
  margin-top: 50px;
}

footer hr {
  width: 60%;
  color: #1a3030;
  border-color: #1a3030;
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  align-items: center;
}

.footer-social > img {
  width: 65px;
  height: 65px;
}

footer p {
  color: #1a3030;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 39px;
  font-weight: 500;
}

.footer-links > a {
  color: #1a3030;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 39px;
  font-weight: 500;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-newsletter button {
  background-color: #cc9c4e;
  border-radius: 8px;
  border-color: #cc9c4e;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 39px;
}

.footer-newsletter input {
  height: 30px;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 39px;
  font-weight: 500;
  border-radius: 10px;
  border-width: 0px;
  height: 53px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 39px;
}

.footer-conditions {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 400;
}

.footer-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}