.admin-nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6; 
}

  nav button {
    width: 100%;
    margin: 0;
    border-color: #cc9c4e;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    background-color: #dcd3c2;
  }

  